# Add any directories, files, or patterns you don't want to be tracked by version control
*~
venv*
*.tmp
tmp/*
.vscode/*
env.bash
READMEcopy.txt
*.psd
__pycache__/*
*.pyc
app/.cache/*
.ignored/*
.env
yuicompressor-2.4.8.jar
#*#
setup/*.sql.gz
scale/load-testing/names.csv.gz
