<html>
<head>
  <link rel="stylesheet"
	href="/lib/bootstrap.min.css"
	xhref="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/lib/mdashstyle.css" />
  <title>Dashboard</title>
</head>
<body ng-app="dashboard">

  <div class="container">
    <div class="row">
      <div class="col-10">
	<br/>
      </div>
      <div class="col-2">
	<a href="/"><img class="img img-responsive" src="/lib/hotjar-logo-wee.png"
			 alt="" title="" /></a>
      </div>
    </div>
    <div class="row"><div class="col"><hr/></div></div>
    <div class="row">

      <!-- summary -->
      <div class="col">
	<div class="summaryAnswer">
	  <h5 class="text-center">Surveys</h5>
	  <div id="sAnswerCount" class="display-2 text-center text-muted sAnswer"></div>
	</div>
      </div>
      <div class="col">
	<div class="summaryAnswer">
	  <h5 class="text-center">Average Age</h5>
	  <div id="sAnswerAge" class="display-2 text-center text-muted sAnswer"></div>
	</div>
      </div>
      <div class="col">
	<div class="summaryAnswer">
	  <h5 class="text-center">Gender Ratio</h5>
	  <div id="sAnswerGender" class="text-center text-muted sAnswer"></div>
	</div>
      </div>
      <div class="col">
	<div class="summaryAnswer">
	  <h5 class="text-center">Top Colours</h5>&nbsp;<br/>
	  <div id="sAnswerColors" class="xtext-center sAnswer"></div>
	</div>
      </div>
    </div>

    <div class="row"><div class="col"><hr/></div></div>

    <div class="row"><div class="col">

      <!-- detail -->
      
      <h5 class="text-left">
	Latest <!--<span id="numTableRows"></span>--> Surveys:
	<!--<a href="/full-results.csv" target="_blank">Download all surveys.</a>-->
      </h5>
      <div id="latable"></div>
      <p class="text-center text-muted">Most recent answer: <span id="sLastUpdated" class="sAnswer"></span>.<br>
	<small>Live Updates: <a href="#" id="enableLive">Enable</a>
	  | <a href="#" id="disableLive">Disable</a></small></p>
      
    </div></div>
    
  </div><!--/container-->

  <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script-->
  <script src="/lib/jq.js"></script>
  <script src="/lib/u.js"></script>
  <!--script type="text/javascript" src="/lib/bb.js"></script-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="/lib/moment-with-locales.js"></script>
  <script type="text/javascript" src="/lib/dashboard.js"></script>
</body>
</html>
