<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap.min.css" />
    <link rel="stylesheet"
	  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	  xhref="/lib/font-awesome.min.css" />
    <!--link rel="stylesheet" href="/lib/mstyle.css" /-->
    <title>Survey</title>
</head>

<body ng-app="survey">

  <div class="container"><form>
    <div class="row">
      <div class="col-10">
	<br/>
      </div>
      <div class="col-2">
	<img class="img img-responsive" src="/lib/hotjar-logo-wee.png"
	     alt="" title="" />
      </div>
    </div>
    <div class="row"><div class="col"><hr/></div></div>
    <div class="row"><div class="col">
	
	<div class="display:block; min-height:100px" id="surveySays">
	  <em>Loading...</em>
	</div>

    </div></div>
    </form>
  </div>

<!--  <script src="/lib/stack.js"></script>-->

  <script src="/lib/jq.js"></script>
  <script src="/lib/u.js"></script>
  <script src="/lib/js.cookie.js"></script>

  <script src="/lib/survey.js"></script>

</body>
</html>
