<title>Hotjar Developer Task - Jeremy Jones</title>

<img align="right" src="/lib/hotjar-logo-orig.jpg" alt="" title="" />

<h3>Hotjar Python Developer Task</h3>

<blockquote>
  <p>Welcome Hotjar-ers!<p>

  <p>To access the working demo please use the links below:</p>

  <ol>
    <li> <a href="/survey">Survey page</a></li>
    <li> <a href="/dashboard">Admin page</a></li>
  </ol>

  <p>Other relevant links:<p>

  <ol>
    <li> <a href="/docs">Backend interface</a></li>
    <li> <a target="_blank"
	    href="https://bitbucket.org/hotjar/dev-task-jeremy/raw/e03f8c26e19592822d938b29912233a6018c7099/planning/task-requirements.pdf">
	Requirements PDF</a></li>
    <li> <a target="_blank" href="https://bitbucket.org/hotjar/dev-task-jeremy/overview">BitBucket code repository</a></li>
    <li> <a target="_blank" href="https://hotjar.hipchat.com/chat/room/4402364">HipChat developer task room</a></li>
  </ol>
</blockquote>

<hr/>

<tiny>
  &lt;<a href="mailto:jeremagne@gmail.com">jeremagne@gmail.com</a>&gt;
</tiny>
