<html>
  <head>
    <title>Hotjar Developer Task - Jeremy Jones</title>
    <link rel="stylesheet"
	  href="/lib/bootstrap.min.css" />
  </head>
  <body>
    
    <div class="container-fluid">
      <div class="row">
	<div class="col">

	  &nbsp;<br/>
	  <dl>
	    <dt>Working Demo</dt>
	    <dd><ol>
		<li> <a class="text-muted" xtarget="_blank" href="/survey">Survey page</a></li>
		<li> <a class="text-muted" xtarget="_blank" href="/dashboard">Admin page</a></li>
	    </ol></dd>

	    <dt>Other Resources</dt>
	    <dd><ol>
		<li> <a class="text-muted" target="_blank" href="/docs">Admin API</a></li>
		<li> <a class="text-muted" target="_blank"
			href="https://bitbucket.org/hotjar/dev-task-jeremy/overview">
		    Code repository</a></li>
		<li> <a class="text-muted" target="_blank"
			href="https://bitbucket.org/hotjar/dev-task-jeremy/raw/e03f8c26e19592822d938b29912233a6018c7099/planning/task-requirements.pdf">
		    Requirements (PDF)</a></li>
	    </ol></dd>
	  </dl>

	</div>

	<div class="col">
	  <img class="img float-right" src="/lib/hotjar-logo-jj.png" alt="" title="" /><br/>
	  <h4 class="text-center">Python Developer Task
	    <small class="text-muted"> - Jeremy Jones </small>
	  </h4>
	</div>
      </div>
      <div class="row"><div class="col"><hr/></div></div>
    </div>
    
  </body>
</html>
