<title>Hotjar Developer Task - Jeremy Jones</title>

<h3>Hotjar Python Developer Task</h3>

<p>Please choose from the following options:</p>

<ol>
  <li> <a href="/survey">Survey page</a></li>
  <li> <a href="/dashboard">Admin page</a></li>
  <li> <a target="_blank" href="https://bitbucket.org/hotjar/dev-task-jeremy/overview">BitBucket code repository</a></li>
  <li> <a target="_blank" href="https://hotjar.hipchat.com/chat/room/4402364">HipChat developer task room</a></li>
</ol>

<hr/>

<tiny>
  &lt;<a href="mailto:jeremagne@gmail.com">jeremagne@gmail.com</a>&gt;
</tiny>
